
<h1>Products</h1>

{{#has_manufacturers?}}

  <ul>
    {{#manufacturers}}
      <li>{{{locally_linked_name}}}</li>
    {{/manufacturers}}
  </ul>

  {{#manufacturers}}
    <h2 id="{{webkey}}">{{name}}</h2>
    <table>
      <thead>
        <tr>
          <th class="name">{{{link_to_sort_by_name}}}</th>
          <th class="chipset">{{{link_to_sort_by_chipset}}}</th>
          <th class="price">{{{link_to_sort_by_price}}}</th>
          <th class="rating">{{{link_to_sort_by_rating}}}</th>
        </tr>
      </thead>
      <tbody>
        {{#products}}
          <tr>
            <td class="name">{{{linked_full_name}}}</td>
            <td class="chipset">{{{linked_chipset}}}</td>
            <td class="price">{{{formatted_price}}}</td>
            <td class="rating">{{{formatted_rating}}}</td>
          </tr>
        {{/products}}
      </tbody>
    </table>
  {{/manufacturers}}

{{/has_manufacturers?}}

{{^has_manufacturers?}}
  <p>There aren't any manufacturers in the database. Run the scraper to go get some.</p>
{{/has_manufacturers?}}
